@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgba(0, 0, 0, 0.3)
    url(https://images.pexels.com/photos/5477754/pexels-photo-5477754.jpeg?auto=compress&cs=tinysrgb&w=1600);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.container {
  font-family: "Sonsie One", cursive;
  width: 22rem;
  height: 35rem;
  background: white;
  border-radius: 1rem;
  -moz-box-shadow: 3px 6px 10px 0px rgba(97, 97, 97, 1);
  box-shadow: 3px 6px 10px 0px rgba(97, 97, 97, 1);
}

.palo {
  font-size: 6rem;
  position: relative;
}

.palo_Down {
  transform: rotate(180deg);
}

.number_size {
  font-size: 11rem;
}
